:root {
    --yellows-color: #ffd205;
    --orange-color: #f3a46b;
    --red-color: #f76570;
    --purple-color: #ba71da;
    --blue-color: #14b9d5;
    --green-color: #1bbc9b;

    --black-color: #555555;
    --white-color: #fff;

    --text-color: #9a9a9a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ------------- */
.btn-style2 {
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ---------------------- */
.text-highlight {
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.text-highlight::after {
    background-color: var(--purple-color);
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 6px;
    z-index: -1;
}



.text-highlight.highlight-green::after {
    background-color: var(--green-color);
}
.text-highlight.highlight-red::after {
    background-color: var(--red-color);
}
.text-highlight.highlight-blue::after {
    background-color: var(--blue-color);
}


/* ------------------- */

.btn-style2 a {
    padding: 15px 35px;
    text-decoration: none;
    text-transform: uppercase;
    /* line-height: 1.3rem; */
    letter-spacing: 2px;
    font-size: 1.3rem;
}

.btn-style2--green {
    background-color: var(--green-color);
}

.btn-style2--green a {
    color: var(--white-color);
}

.btn-style2--white {
    background-color: var(--white-color);
}

.btn-discover-01 a {
    color: var(--orange-color);
}

.btn-discover-02 a {
    color: var(--green-color);
}

/* --------------- */
.container__title {
    text-align: center;
    margin-bottom: 35px;
}

.container__title h3 {
    color: var(--text-color);
    line-height: 14px;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.container__title h2 {
    margin-top: 20px;
    line-height: 36px;
    color: var(--black-color);
    font-size: 3.6rem;
    font-weight: bold;
}