:root {
    --yellows-color: #ffd205;
    --orange-color: #f3a46b;
    --red-color: #f76570;
    --purple-color: #ba71da;
    --blue-color: #14b9d5;
    --green-color: #1bbc9b;

    --black-color: #555555;
    --white-color: #fff;

    --text-color: #9a9a9a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.btn-style2 {
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-style2 a {
    padding: 15px 35px;
    text-decoration: none;
    text-transform: uppercase;
    /* line-height: 1.3rem; */
    letter-spacing: 2px;
    font-size: 1.3rem;
}

.btn-style2--green {
    background-color: var(--green-color);
}

.btn-style2--green a {
    color: var(--white-color);
}

.btn-style2--white {
    background-color: var(--white-color);
}

.btn-discover-01 a {
    color: var(--orange-color);
}

.btn-discover-02 a {
    color: var(--green-color);
}
