.header {
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 104px;
    position: sticky;
    z-index: 2;
    padding: 20px 50px;
}

.header .row {
    justify-content: space-between;
}

.logo {
    /* position: absolute;
    top: 0; */
    height: 64px;
    width: 140px;
    background: center /contain no-repeat;
}

.logo a {
    /* width: 100%;
    height: 100%; */
    text-decoration: none;
}

.navbar {
    width: 80%;
    display: flex;
    align-items: center;
}

.navbar a {
    color: var(--white-color);
    text-decoration: none;
}

.navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
}

.navbar__list > li {
    display: inline-block;
    height: 100%;
}

.navbar__list > li > a {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 25px 15px;
    text-align: center;
    line-height: 64px;
}

.navbar__list li {
    position: relative;
}

.navbar__list > li:hover .subnav__list{
    display: inline;
}


.subnav__list {
    display: none;
    position: absolute;
    top: 60px;
    left: -15px;
    width: 190px;
    background-color: var(--white-color);
    box-shadow: 0 4px 6px #fff;
}

.subnav__list li {
    padding: 15px 25px;
    border-bottom: 1px solid rgba(236, 234, 234, 0.623);
    display: flex;
    align-items: center;
}

.subnav__list li i {
    font-size: 1.5rem;
    color: var(--text-color);
}

.subnav__list li:hover {
    background-color: rgba(233, 233, 233, 0.466);
}

.subnav__list a {
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
    color: var(--text-color);
}

.navbar, .subnav__list, .subnav {
    list-style: none;
}

.subnav__list > li:hover .subnav {
    display: inline;
}

.subnav {
    position: absolute;
    width: 190px;
    left: 200px;
    top: 0;
    background-color: var(--white-color);
    box-shadow: 0 4px 6px #fff;
    display: none;
}

.subnav::after {
    content: '';
    background-color: transparent;
    position: absolute;
    width: 12px;
    height: 100%;
    top: 0;
    left: -12px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu i {
    color: var(--white-color);
    font-size: 2.8rem;
}

.sticker {
    color: var(--white-color);
    font-size: 1rem;
    padding: 0px 6px;
    border-radius: 3px;
}


.btn {
    /* height: 36px; */
    background-color: var(--purple-color);
    border-radius: 25px;
}

.btn a{
    padding: 12px 15px;
    text-align: center;
    line-height: 36px;
    font-size: 1.5rem;
    text-transform: uppercase;
}


/* --- */
.slider {
    position: relative;
    /* margin-top: 46px; */
    top: -190px;
    padding-top: 27%;
    padding-bottom: 18%;
    background: linear-gradient(to top, rgba(180, 180, 180, 0.342), transparent), 
    url('../img/background-header.jpg') center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__content {

}

.slider__content h1 {
    color: var(--white-color);
    font-size: 6rem;
    text-align: center;
}




.slider__content h6 {
    margin-top: 50px;
    color: var(--white-color);
    font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: 4px;
}

.slider__search {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__search form {
    position: relative;
    /* background-color: var(--white-color); */
    /* height: 47.25px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#slider__select {
    background-color: var(--white-color);
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    appearance: none;
    /* -webkit-padding-end: 100px; */
    padding: 12px 130px 12px 25px;
    font-size: 1.6rem;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 50px;
}


.slider__search i {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-color);
}

.slider__search--icon {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 25px;
    top: 0;
}

.slider__section {
    margin-top: 55px;
    height: 135px;
    align-items: center;
    justify-content: center;
}

.section__item {
    height: 135px;
    width: 142.5px;
    padding: 15px;
    
}

.section__item-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0,0,0,0.21);
}

.section__item-content a {
    text-decoration: none;
}

.section__item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.section__item-name {
    margin-top: 10px;
    color: var(--white-color);
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* proposals */
.container {
    margin-top: -130px;
}

.proposal__item-wrapper {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.proposal__item {
    width: 100%;
    height: 100%;
    position: relative;
}

.proposal__item-img {
    width: 100%;
    height: 100%;
}

.proposal__item-content {
    /* box-sizing: border-box; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.proposal__item-content::before {
    content:'';
    position:absolute;
    left:0; 
    top:0;
    width:100%; 
    height:100%;
    display:inline-block;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}


.proposal__logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
}

.proposal__logo img {
    width: 35px;
}

.proposal__name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
    color: var(--white-color);
}

.proposal__name h3 {
    font-size: 2rem;
    font-weight: bold;
}

.proposal__name h6 {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 300;
    letter-spacing: 2px;
}

.proposal__item-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    background-color: var(--blue-color);
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    animation: displayFilter linear 0.5s;
}

.proposal__item:hover .proposal__item-filter{
    display: flex;
    
}

@keyframes displayFilter {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.proposal__item-filter a {
    text-decoration: none;
    line-height: 27px;
}

.proposal__item-filter h3, .proposal__item-filter p {
    color: var(--white-color);
}

.proposal__item-filter h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.proposal__item-filter p {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.btn-proposal {
    margin-top: 20px;
    background-color: var(--white-color);
    letter-spacing: 1px;
}

.btn-proposal a {
    line-height: 29px;
    padding: 5px 20px;
    font-size: 1.3rem;
    color: var(--blue-color);
}


/* --- */
.container__view {
    /* width: 100%; */
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(../img/background_container-view.jpg) center / cover no-repeat;
}

.view__title-wp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.view__title {
    padding: 20px 15px;

}

.view__title h6{
    color: var(--white-color);
    font-weight: bold;
}

.view__title h6:first-child {
    font-size: 4.6rem;
    line-height: 45px;
}

.view__title h6:last-child {
    font-size: 5.2rem;
    line-height: 50px;
}

.view__button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-view {
    background-color: var(--white-color);
}

.btn-view a{
    color: var(--red-color);
}



/*------------- container__slider -------------*/

.container__slider {
    margin-top: 50px;
}

.container__slider--content-wp {
    padding: 20px 35px 20px 15px;
}

.container__slider--content h3 {
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 14px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.container__slider--content h2 {
    color: var(--black-color);
    font-weight: bold;
    line-height: 36px;
    font-size: 3.6rem;
    margin-bottom: 30px;
}

.container__slider--content p {
    color: var(--text-color);
    text-align: left;
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 27px;
    margin-bottom: 20px;
}

.container__slider--price h1 {
    margin-top: 30px;
    font-size: 3.4rem;
    font-weight: 200;
    color: var(--black-color);
}

.container__slider--price h1 span:last-child {
    font-size: 1.4rem;
}

.price-discount{
    color: #dadada; 
    text-decoration: line-through;
}

.container__slider--button {
    margin-top: 30px;
    display: flex;
    flex: left;
}

/* slidershows */

.slideshows-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 15px 20px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullet-wp {
    top: 40px;
    position: absolute;
    z-index: 100;
}

.bullet {
    cursor: pointer;
    height: 3px;
    width: 60px;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
}

.bullet.bullet--active, .bullet:hover {
    background-color: var(--white-color);
}

.slideshows {
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: var(--black-color); */
}

.slideshows__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 18;
    /* display: none; */
    animation: slide-animation 5s ease-in;
    
}

@keyframes slide-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*  */
.countdown{
    position: absolute;
    z-index: 30;
    top: 100%;
    transform: translateY(-50%);
} 

.countdown__element {
    position: relative;
    height: 100%;
    background-color: var(--blue-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown__element::after {
    position: absolute;
    content: "/";
    top: 30px;
    right: -12px;
    font-size: 60px;
    color: #000;
    opacity: 0.05;
    font-weight: 100;
    z-index: 9;
    line-height: 60px;
}

.countdown__element--nonafter::after {
    display: none;
}

.countdown__element h1{
    margin-bottom: 7px;
    margin-top: 30px;
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 200;
    letter-spacing: 2px;
    color: var(--white-color);
}

.countdown__element h6 {
    margin-bottom: 30px;
    font-size: 1.2rem;
    line-height: 1.3rem;
    font-weight: 200;
    letter-spacing: 2px;
    color: var(--white-color);
}

/*  */
.container__post {
    margin-top: 90px;
    margin-bottom: 10px;
}

.post__element {
    display: flex;
    padding: 0 15px;
}

.post__element img {
    width: 50px;
    height: 50px;
}

.post__content {
    padding-left: 20px;
}

.post__content h3 {
    color: var(--black-color);
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: bold;
}

.post__content p {
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: var(--text-color);
    letter-spacing: 1px;
    margin: 20px 0;
}

.post__content a {
    color: var(--blue-color);
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

/*  */
.container__discover {
    margin-top: 65px;
}

.discover__element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.discover__element h3 {
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 1.3rem;
    color: var(--white-color);
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.discover__element h2 {
    font-size: 3.6rem;
    line-height: 3.6rem;
    color: var(--white-color);
    font-weight: 600;
}

.container__discover--button {
    margin-top: 40px;
}

/* ---------------------- */
.container__promotions {
    margin-top: 60px;
}

.promotions__element-wrapper {
    width: 100%;
}

.promotions__element {
    width: 100%;
    padding: 15px;
}

.promotions__item {
    width: 100%;
    border: 1px solid #f1f1f1;
}

.promotions__item-img {
    width: 100%;
    position: relative;
}

.promotions__item-img > img{
    width: 100%;
    height: 100%;
}

.promotions__item-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    bottom: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.promotions__item-logo--yellow {
    background: linear-gradient(to right, var(--yellows-color) 0%, #ff9b05 100%)
}

.promotions__item-logo--red {
    background: linear-gradient(to right, var(--red-color) 0%, #f78d65 100%)

}

.promotions__item-logo--purple {
    background: linear-gradient(to right, var(--purple-color) 0%, #da717b 100%)

}

.promotions__item-logo img {
    width: 26px;
}

.promotions__item-content {
    padding: 30px;
}

.promotions__item-name {
    color: var(--black-color);
    text-decoration: none;
}

.promotions__item-name h3 {
    font-size: 2.1rem;
    line-height: 2.1rem;
}

.promotions__item-location {
    margin-top: 10px;
    display: flex;
    text-decoration: none;
}

.promotions__item-location img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.promotions__item-location h5 {
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 2px;
    color: var(--text-color);
}

.promotions__item-info {
    margin-top: 20px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.promotions__item-info a {
    text-decoration: none;
    color: var(--black-color);
}

.promotions__item-info a > h6 {
    text-transform: uppercase;
    font-size: 1.235rem;
    letter-spacing: 2px;
    font-weight: 200;
}

.promotions__type-02 {
    display: flex;
    height: 27px;
    align-items: center;
}

.promotions__sticker {
    margin-left: 10px;
    padding: 2px 8px;
    border-radius: 30px;
    color: var(--white-color);
    letter-spacing: 1px;
    height: 15.3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotions__sticker--yellow {
    background-color: var(--yellows-color);
}

.promotions__sticker--red {
    background-color: var(--red-color);
}

.promotions__sticker--purple {
    background-color: var(--purple-color);
}

.promotions__item-price h2 {
    font-size: 2.45rem;
    font-weight: 200;
    letter-spacing: 2px;
}

.promotions__item-review {
    margin: 20px 0;
    color: var(--text-color);
    font-size: 1.49rem;
    letter-spacing: 1.5px;
    line-height: 28px;
}

.promotions__btn {
    padding: 5px 20px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 1px;
    display: inline-block;
    line-height: 27px;
    border-radius: 30px;
}

.promotions__btn-yellow {
    background-color: var(--yellows-color);
}

.promotions__btn-red {
    background-color: var(--red-color);
}

.promotions__btn-purple {
    background-color: var(--purple-color);
}

.promotions__item-price--discount {
    font-size: 2rem;    
}

.promotions__item--sale-ticket {
    position: absolute;
    padding: 4px 12px 3px;
    display: inline-block;
    top: 20px;
    right: 20px;
    background-color: var(--black-color);
    color: var(--white-color);
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: 1px;
}

/* --------------------footer--------------------- */
.footer {
    margin-top: 60px;
    background: url(../img/background-footer.jpg) center/ cover no-repeat;

}

.footer-inner {
    padding: 0 30px 80px; 
}

.footer__sendbox {
    padding-top: 80px;

}

.sendbox__title h3{
    color: var(--text-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.sendbox__title {
    color: var(--black-color);
    font-size: 2.5rem;
    line-height: 2.8rem;
}

.sendbox__form {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.sendbox__input {
    padding: 10px 20px;
    width: 250px;
    outline: none;
    border: transparent;
    font-size: 1.85rem;
    color: var(--text-color);
    line-height: 23px;
    border-radius: 30px;
    margin-right: 20px;
}

.sendbox__btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--blue-color);
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 23px;
    letter-spacing: 2px;
    border-radius: 25px;
}

.footer__about {
    background-color: var(--white-color);
    padding: 35px 30px;
    margin-top: 60px;
}

.footer__logo img {
    margin-top: 14px;
    width: 150px;
    margin-bottom: 25px;
}

.footer__review-wp {
    padding: 0 25px 0 15px;
}

.footer__review p{
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: var(--text-color);
    line-height: 27px;
}

.footer__social{
    margin-top: 25px;

}

.footer__social a {
    text-decoration: none;
}

.footer__social i{
    font-size: 2.2rem;
    color: var(--black-color);
    margin-right: 20px;
}

.footer__list-wp h6{
    margin-top: 25px;
    color: var(--black-color);
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.footer__list {
    margin-top: 35px;
}

.footer__list p {
    color: var(--text-color);
    font-size: 1.45rem;
    letter-spacing: 1px;
    line-height: 27px;
}

.footer__list i {
    font-size: 0.9rem;
}

.footer__copyright {
    background-color: var(--blue-color);
}

.copyright__content {
    padding: 20px;
}

.copyright__content h6 {
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.2rem;
}

.copyright__content--right h6{
    text-align: right;
}