.header {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 104px;
    position: sticky;
    z-index: 2;
    padding: 20px 50px;
}

.header .row {
    justify-content: space-between;
}

.logo {
    /* position: absolute;
    top: 0; */
    height: 64px;
    width: 140px;
    background: center /contain no-repeat;
}

.logo a {
    /* width: 100%;
    height: 100%; */
    text-decoration: none;
}

.navbar {
    width: 80%;
    display: flex;
    align-items: center;
}

.navbar a {
    color: var(--white-color);
    text-decoration: none;
}

.navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
}

.navbar__list > li {
    display: inline-block;
    height: 100%;
}

.navbar__list > li > a {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 25px 15px;
    text-align: center;
    line-height: 64px;
}

.navbar__list li {
    position: relative;
}

.navbar__list > li:hover .subnav__list{
    display: inline;
}


.subnav__list {
    display: none;
    position: absolute;
    top: 60px;
    left: -15px;
    width: 190px;
    background-color: var(--white-color);
    box-shadow: 0 4px 6px #fff;
}

.subnav__list li {
    padding: 15px 25px;
    border-bottom: 1px solid rgba(236, 234, 234, 0.623);
    display: flex;
    align-items: center;
}

.subnav__list li i {
    font-size: 1.5rem;
    color: var(--text-color);
}

.subnav__list li:hover {
    background-color: rgba(233, 233, 233, 0.466);
}

.subnav__list a {
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
    color: var(--text-color);
}

.navbar, .subnav__list, .subnav {
    list-style: none;
}

.subnav__list > li:hover .subnav {
    display: inline;
}

.subnav {
    position: absolute;
    width: 190px;
    left: 200px;
    top: 0;
    background-color: var(--white-color);
    box-shadow: 0 4px 6px #fff;
    display: none;
}

.subnav::after {
    content: '';
    background-color: transparent;
    position: absolute;
    width: 12px;
    height: 100%;
    top: 0;
    left: -12px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu i {
    color: var(--white-color);
    font-size: 2.8rem;
}

.sticker {
    color: var(--white-color);
    font-size: 1rem;
    padding: 0px 6px;
    border-radius: 3px;
}


.btn {
    height: 36px;
    background-color: var(--purple-color);
    border-radius: 25px;
}

.btn a{
    padding: 12px 15px;
    text-align: center;
    line-height: 36px;
    font-size: 1.5rem;
    text-transform: uppercase;
}


/* --- */
.slider {
    position: relative;
    /* margin-top: 46px; */
    top: -190px;
    padding-top: 27%;
    padding-bottom: 18%;
    background: linear-gradient(to top, rgba(180, 180, 180, 0.342), transparent), 
    url('../img/background-header.jpg') center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__content {

}

.slider__content h1 {
    color: var(--white-color);
    font-size: 6rem;
    text-align: center;
}

.text-highlight {
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.text-highlight::after {
    background-color: var(--purple-color);
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 6px;
    z-index: -1;
}

.slider__content h6 {
    margin-top: 50px;
    color: var(--white-color);
    font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: 4px;
}

.slider__search {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__search form {
    position: relative;
    /* background-color: var(--white-color); */
    /* height: 47.25px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#slider__select {
    background-color: var(--white-color);
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    appearance: none;
    /* -webkit-padding-end: 100px; */
    padding: 12px 130px 12px 25px;
    font-size: 1.6rem;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 50px;
}


.slider__search i {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-color);
}

.slider__search--icon {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 25px;
    top: 0;
}

.slider__section {
    margin-top: 55px;
    height: 135px;
    align-items: center;
    justify-content: center;
}

.section__item {
    height: 135px;
    width: 142.5px;
    padding: 15px;
    
}

.section__item-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0,0,0,0.21);
}

.section__item-content a {
    text-decoration: none;
}

.section__item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.section__item-name {
    margin-top: 10px;
    color: var(--white-color);
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* proposals */
.container {
    margin-top: -130px;
}

.proposal__title {
    text-align: center;
}

.proposal__title h3 {
    color: var(--text-color);
    line-height: 14px;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.proposal__title h2 {
    margin-top: 20px;
    line-height: 36px;
    color: var(--black-color);
    font-size: 3.6rem;
    font-weight: bold;
}

.text-highlight.highlight-green::after {
    background-color: var(--green-color);
}

.proposal__item {
    width: 100%;
    position: relative;
}

.proposal__item::after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.proposal__item-img {
    width: 100%;
}

.proposal__logo {
    position: absolute;
    top: 0;
}

.proposal__name {
    position: absolute;
    bottom: 0;
}

.proposal__item-filter {
    display: none;
}

