/* Tablet && Mobile */
@media (max-width: 1023px) {
    .header {
            background-color: var(--black-color);
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    
}